---
sudo: required
dist: xenial
language: ruby
cache: bundler

branches:
  only:
    - /.*/

rvm:
  - 2.3.8
  - 2.4.5
  - 2.5.3
  - 2.6.1

env:
  - DISPLAY=":0.0"

addons:
  firefox: latest
  chrome: stable

before_install:
  - gem update --system --no-document

before_script:
  - sudo apt-get install -y ffmpeg
  - ffmpeg -hwaccels
  - sudo apt-get install wmctrl
  - "export DISPLAY=:0.0"

script: xvfb-run --server-args="-ac -screen 0 1024x768x24" bundle exec rake spec