---
os:
  - linux
  - osx
dist: xenial
language: ruby
cache: bundler
branches:
  only:
    - /.*/
rvm:
  - 2.3.8
  - 2.4.5
  - 2.5.5
  - 2.6.3
env:
  - DISPLAY=":0"
addons:
  firefox: latest
  apt:
    packages:
      - ffmpeg
  homebrew:
    packages:
      - ffmpeg
before_install:
  - gem update --system --no-document
before_script:
  - nohup Xvfb :0 -screen 0 1024x768x24 &
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then chmod +x ./cc-test-reporter; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./cc-test-reporter before-build; fi
after_script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT; fi